<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center footer py-4 text-center border border-3 border-primary border-bottom-0 border-start-0 border-end-0">
      © 7TAO七逃. All Rights Reserved
    </div>
  </div>
</div>


